.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: red;
}

.allForms div{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.allForms div .textNew {
  height: 500px;
}
